.navbar-collapse{
    justify-content: end ;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Times New Roman', Times, serif !important;
}
body {
    margin: 0;
    padding: 0;
}
p{
    font-family: Helvetica, sans-serif !important;
  }
/* Header */
    header{
        position: relative;
        height: 100vh;
        background-image: url('../img/fp2.webp');
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
    }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .navbar{
    transition: all;
    transition-duration: 300ms !important;
  }
  .navbar-scrolled {
    background-color: rgb(46, 46, 46) !important;
    
  }

  .navbar-scrolled .navbar-nav .nav-link {
    color: white ;
  }

  .navbar-nav .nav-item.lenguage a {
    border: 1px solid white;
    transition: color 0.3s, background-color 0.3s;
  }

  .navbar-nav .nav-item.lenguage a:hover {
    color: black;
    background-color: #f2f2f2;
  }

  /* Nosotros */

  .card .icon-wrapper {
    font-size: 3rem;
    color: #81a943;
  }

  .mision{
    font-family: Helvetica, sans-serif !important;
    font-weight: bold;
  }

  .vision{
    font-family: Helvetica, sans-serif !important;
  }